<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.smarthome.mapper.ClassesMapper" >
  <resultMap id="BaseResultMap" type="com.example.smarthome.admin.Classes" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cname" property="cname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, cname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from classes
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from classes
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.smarthome.admin.Classes" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into classes (cname)
    values (#{cname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.smarthome.admin.Classes" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into classes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="cname != null" >
        cname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="cname != null" >
        #{cname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.smarthome.admin.Classes" >
    update classes
    <set >
      <if test="cname != null" >
        cname = #{cname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.smarthome.admin.Classes" >
    update classes
    set cname = #{cname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap extends="BaseResultMap" id="ClassesAndEqui" type="com.example.smarthome.admin.Classes">
      <collection property="equipmentList" ofType="com.example.smarthome.admin.Equipment">
        <id column="eid" property="id"></id>
        <result column="equname" property="equname"></result>
        <result column="clsId" property="clsId"></result>
      </collection>

  </resultMap>
  <select id="classesAndEqui" resultMap="ClassesAndEqui">
    select c.*,e.id as eid,e.equname as equname,e.cls_id as clsId from classes as c,equipment as e where c.id=e.cls_id
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from classes
  </select>

</mapper>