<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.smarthome.mapper.CollectMapper" >
  <resultMap id="BaseResultMap" type="com.example.smarthome.admin.Collect" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="gt_id" property="gtId" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <association property="user" javaType="com.example.smarthome.admin.User">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="username" property="username" jdbcType="VARCHAR" />
      <result column="password" property="password" jdbcType="VARCHAR" />
      <result column="heading" property="heading" jdbcType="VARCHAR" />
      <result column="phone" property="phone" jdbcType="VARCHAR" />
      <result column="integral" property="integral" jdbcType="INTEGER" />
      <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    </association>
    <association property="goods" javaType="com.example.smarthome.admin.Goods">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="goodsname" property="goodsname" jdbcType="VARCHAR" />
      <result column="equ_id" property="equId" jdbcType="INTEGER" />
      <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
      <result column="price" property="price" jdbcType="INTEGER" />
    </association>
    <association property="goodsType" javaType="com.example.smarthome.admin.GoodsType">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
      <result column="gtname" property="gtname" jdbcType="VARCHAR" />
      <result column="gtcount" property="gtcount" jdbcType="INTEGER" />
    </association>
    <association property="goodsDetail" javaType="com.example.smarthome.admin.GoodsDetail">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
      <result column="title" property="title" jdbcType="VARCHAR" />
      <result column="info" property="info" jdbcType="VARCHAR" />
      <result column="imgurl" property="imgurl" jdbcType="VARCHAR" />
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, gt_id, createtime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from collect
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from collect
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.smarthome.admin.Collect" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into collect (user_id, gt_id, createtime
      )
    values (#{userId,jdbcType=INTEGER}, #{gtId,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.example.smarthome.admin.Collect" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into collect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="gtId != null" >
        gt_id,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="gtId != null" >
        #{gtId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.smarthome.admin.Collect" >
    update collect
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="gtId != null" >
        gt_id = #{gtId,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.smarthome.admin.Collect" >
    update collect
    set user_id = #{userId,jdbcType=INTEGER},
      gt_id = #{gtId,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectCollByUid" resultMap="BaseResultMap">
    SELECT g.goodsname,g.price,gt.gtname,gd.title,gd.info,gd.imgurl
    FROM collect AS c JOIN `user` AS u ON
    c.user_id=u.id JOIN goodstype AS gt ON
    c.gt_id=gt.id JOIN goods AS g ON
    gt.goods_id=g.id JOIN goodsdetail AS gd ON
    g.id=gd.goods_id
    WHERE u.id=#{uid}
  </select>

</mapper>