<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.smarthome.mapper.EquipmentMapper" >
  <resultMap id="BaseResultMap" type="com.example.smarthome.admin.Equipment" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="equname" property="equname" jdbcType="VARCHAR" />
    <result column="cls_id" property="clsId" jdbcType="INTEGER" />
    <!--<association property="user" javaType="com.example.smarthome.admin.User">
      <id column="id" property="id" jdbcType="INTEGER" />
      <result column="username" property="username" jdbcType="VARCHAR" />
      <result column="password" property="password" jdbcType="VARCHAR" />
      <result column="heading" property="heading" jdbcType="VARCHAR" />
      <result column="phone" property="phone" jdbcType="VARCHAR" />
      <result column="integral" property="integral" jdbcType="INTEGER" />
      <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    </association>-->
  </resultMap>
  <sql id="Base_Column_List" >
    id, equname, cls_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from equipment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from equipment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.smarthome.admin.Equipment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into equipment (equname, cls_id)
    values (#{equname,jdbcType=VARCHAR}, #{clsId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.example.smarthome.admin.Equipment" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into equipment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="equname != null" >
        equname,
      </if>
      <if test="clsId != null" >
        cls_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="equname != null" >
        #{equname,jdbcType=VARCHAR},
      </if>
      <if test="clsId != null" >
        #{clsId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.smarthome.admin.Equipment" >
    update equipment
    <set >
      <if test="equname != null" >
        equname = #{equname,jdbcType=VARCHAR},
      </if>
      <if test="clsId != null" >
        cls_id = #{clsId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.smarthome.admin.Equipment" >
    update equipment
    set equname = #{equname,jdbcType=VARCHAR},
      cls_id = #{clsId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"></include>
    from equipment where cls_id=#{cid}
  </select>

  <select id="selectByUid" resultMap="BaseResultMap">
     select equ.id,equ.equname,equ.cls_id
    from equipment as equ join user_equ as ue on
    ue.equ_id=equ.id join user as u on
    ue.user_id=u.id  where u.id=#{uid}

  </select>
</mapper>