<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.smarthome.mapper.EvaluateMapper" >
  <resultMap id="BaseResultMap" type="com.example.smarthome.admin.Evaluate" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="star" property="star" jdbcType="INTEGER" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.smarthome.admin.Evaluate" extends="BaseResultMap" >
    <result column="info" property="info" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, order_id, star, createtime
  </sql>
  <sql id="Blob_Column_List" >
    info
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from evaluate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from evaluate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.smarthome.admin.Evaluate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into evaluate (order_id, star, createtime, 
      info)
    values (#{orderId,jdbcType=INTEGER}, #{star,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP}, 
      #{info,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.smarthome.admin.Evaluate" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into evaluate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="star != null" >
        star,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="info != null" >
        info,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="star != null" >
        #{star,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null" >
        #{info,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.smarthome.admin.Evaluate" >
    update evaluate
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="star != null" >
        star = #{star,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="info != null" >
        info = #{info,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.smarthome.admin.Evaluate" >
    update evaluate
    set order_id = #{orderId,jdbcType=INTEGER},
      star = #{star,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP},
      info = #{info,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.smarthome.admin.Evaluate" >
    update evaluate
    set order_id = #{orderId,jdbcType=INTEGER},
      star = #{star,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="evaluateList" resultMap="BaseResultMap">
select e.id,e.star,e.info,e.createtime,u.username as username,u.heading as heading from evaluate e
LEFT JOIN orders o
on e.order_id=o.id
LEFT JOIN goodstype gt
on gt.id=o.gt_id
LEFT JOIN goods g
on gt.goods_id=g.id
LEFT JOIN user u
on o.user_id=u.id
where g.id=#{gid}
  </select>

  <select id="selectAll" resultMap="ResultMapWithBLOBs">
    SELECT e.star,u.id,u.username,
    <include refid="Blob_Column_List"></include>,
    e.createtime
    FROM evaluate AS e JOIN orders AS o ON
    e.order_id=o.id JOIN `user` AS u ON
    o.user_id=u.id JOIN goodstype AS gt ON
    o.gt_id=gt.id JOIN goods AS g ON
    gt.goods_id=g.id
    WHERE g.id=#{gid}
  </select>

  <!--添加订单对应的评价信息-->
  <insert id="insertEvaluate" parameterType="com.example.smarthome.admin.Evaluate">
    insert into evaluate (order_id, star, createtime,
      info)
    values (#{orderId,jdbcType=INTEGER}, #{star,jdbcType=INTEGER}, #{createtime,jdbcType=TIMESTAMP},
      #{info,jdbcType=LONGVARCHAR})
  </insert>
</mapper>