<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.smarthome.mapper.FeatureMapper" >
  <resultMap id="BaseResultMap" type="com.example.smarthome.admin.Feature" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="featname" property="featname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, featname
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from feature
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from feature
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.smarthome.admin.Feature" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into feature (featname)
    values (#{featname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.smarthome.admin.Feature" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into feature
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="featname != null" >
        featname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="featname != null" >
        #{featname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.smarthome.admin.Feature" >
    update feature
    <set >
      <if test="featname != null" >
        featname = #{featname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.smarthome.admin.Feature" >
    update feature
    set featname = #{featname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>